* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Cormorant Garamond", serif;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2%;
  align-items: center;
  background: var(--second-color);
  border-radius: 16px;
  backdrop-filter: blur(0.3px);
  -webkit-backdrop-filter: blur(0.3px);
  position: fixed;
  top: -1%; 
}

.tittle {
  font-family: "Updock", cursive;
  font-size: 35px;
  text-decoration: none;
  font-weight: bold;
  color: var(--nav-letter-color);
}

nav {
  font-family: "Cormorant Garamond", serif;
  font-size: 25px;
  font-weight: bold;
  
}

a {
  text-decoration: none;
  color: var(--nav-letter-color);
  transition: color 7;
}

a:hover {
  color: var(--third-color);
}

.nav-list {
  display: flex;
}

.nav-list li {
  margin-left: 5%;
}

body {
  background: rgb(241,240,243);
background: linear-gradient(0deg, rgba(241,240,243,1) 64%, rgba(210,196,223,1) 96%);
  width: 100%;
  overflow-x: hidden
}

#resume {
  display: flex;
  margin-top: 3%;
  padding-top: 5%;
  padding-left: 5%;
}

.left-about {
  margin-left: 14.6%;
  width: 100%;
}

.little-text {
  font-family: "Cormorant Garamond", serif;
  font-size: 27px;
  color:var(--third-color-darker);
  font-weight: bold;
}

.name {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 75px;
  
}

.p-resume {
  font-family: "Cormorant Garamond", serif;
  font-size: 25px;
  font-weight: bold;
  width: 100%; 
  margin-top: 1%;
}

.contact-icon {
  display: flex;
  max-width: 50%;
  margin-top: 6%;
  justify-content: space-around; 
}

.git-contact {
  transition: all 0.5s;
  cursor: pointer;
}

.git-contact:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.li-contact {
  transition: all 0.5s;
  cursor: pointer;
}

.li-contact:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.insta-contact {
  transition: all 0.5s;
  cursor: pointer;
}

.insta-contact:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.right-about {
  margin-left: 20%;
}

.img-icon {
  max-width: 80%;
  max-height: 70%;  
  border-radius: 10%;  
  box-shadow:  -12px -12px 24px var(--img-shadow-first),
             12px 12px 24px var(--img-shadow-second);
}

.icon-social {
  max-width: 80%;
  max-height: 70%;  
  border-radius: 10%;  
}

#about {
  display: flex;
  flex-direction: column;
  font-family: "Cormorant Garamond", serif;
  margin: -5vw 10vw;
  padding: 3vw;
  width: 80vw;
  border-radius: 2vw;
  background-color: var(--bg-content-color); 
  transition: all 0.5s;
}

#about:hover {
  cursor: pointer;
  box-shadow: 14px 14px 23px var(--boxshadow-color-first),
  -14px -14px 23px var(--boxshadow-color-second);
}

.title-content {
  font-size: 38px;
  font-weight: 700;
  align-items: center;
  padding-left: 8%;
  color:var(--third-color);
}

.p-about {
  font-size: 25px;
  font-weight: bold;
  padding: 1% 8%;
  width: 95%;
}

#skills {
  display: flex;
  flex-direction: column;
  font-family: "Cormorant Garamond", serif;
  margin-top: 12vw;
  margin-left: 10vw;
  padding: 3vw;
  width: 80vw;
  border-radius: 2vw;
  background-color: var(--bg-content-color); 
  transition: all 0.5s;
}

#skills:hover {
  cursor: pointer;
  box-shadow: 14px 14px 23px var(--boxshadow-color-first),
  -14px -14px 23px var(--boxshadow-color-second);
}


.sub-title {
  padding-left: 8%;
  padding-top: 2%;
  font-size: 25px;
}

.content-skills {
  display: flex;
  flex-direction: column;
}

.skills-item {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 15px;
}

.content-item {
  display: flex;
  flex-direction: column;
  width: 160px;
  justify-content: baseline;
  text-align: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
}

.content-item:hover {
  color: var(--third-color-darker);
}

.svg {
  width: 24%;
  margin-top: -2%;
}

.p-skills {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
}

#projetos {
  font-family: "Cormorant Garamond", serif;
  margin-top: 8vw;
  margin-left: 10vw;
  padding: 3vw;
  width: 80vw;
  border-radius: 2vw;
  background-color: var(--bg-content-color); 
  transition: all 0.5s;
}

#projetos:hover {
  cursor: pointer;
  box-shadow: 14px 14px 23px var(--boxshadow-color-first),
  -14px -14px 23px var(--boxshadow-color-second);
}

.projeto-calc {
  height: 290px;
  width: 300px;
  margin-top: 2%;
  margin-left: 7vh;
  border-radius: 20%;
  background-color: var(--first-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 2s;
}

.projeto-calc:hover {
  box-shadow:  7px 7px 14px #dcc5ecee, -7px -7px 14px var(--boxshadow-color-second);
  cursor: pointer;
}

.subt-project {
  padding-top: 2%;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}

.p-project {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-size: 22px;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
  width: 78%;
}

.btn-project {
  width: 78%;
  margin-left: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.projeto-calc a {
  background-color: var(--third-color);
  border-radius:11%;
  color: var(--bg-content-color);
  padding: 5px 10px;
  text-decoration: none;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
  margin-top: 20px;
  margin-left: -40%;
  margin-bottom: 40px;
  font-size: 22px;
}

.icon-calc {
  padding-top: 4%;
  color: var(--third-color-darker);
}

#contato {
  font-family: "Cormorant Garamond", serif;
  margin-top: 8vw;
  margin-left: 10vw;
  padding: 3vw;
  width: 80vw;
  border-radius: 2vw;
  background-color: var(--bg-content-color); 
  transition: all 0.5s;
}

#contato:hover {
  cursor: pointer;
  box-shadow: 14px 14px 23px var(--boxshadow-color-first),
  -14px -14px 23px var(--boxshadow-color-second);
}

.sub-contact {
  padding-left: 8%;
  padding-top: 2%;
  font-size: 30px;
}

.link-socialmedias {
  display: flex;
  max-width: 40%;
  gap: 2rem;
  padding-left: 8%;
  margin-top: 20px;
}

.form {
  margin-top: 20px;
}

.sub-form {
  font-family: "Cormorant Garamond", serif;
  font-size: 25px;
  padding-left: 9%;
}

.form input, .form textarea {
  width: 90%;
  margin-left: 9%;
  padding: 15px;
  outline: none;
  margin-top: 8px;
  border: none;
  border-radius: 6px;
  background-color: var(--first-color);
}

.form input::placeholder, .form textarea::placeholder {
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
}

.btn-form {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.sub-btn {
  background-color: var(--third-color);
  color: var(--bg-content-color);
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: 700;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  margin-top: 20px;
}

footer {
  background-color: var(--first-color);
  margin-top: 5%;
  padding-bottom: 2%;
  text-align: center;
  position: relative;
  font-weight: bold;
  font-size: 25px
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: var(--third-color);
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  
  .nav-list {
    position: absolute;
    top: 7vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: var(--second-color);
    flex-direction: column;
    align-items: center;
    gap: 7rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-top: 6vh;
    margin-left: 0;
    opacity: 0;
  }

  .tittle {
    font-size: 28px;
  }

  .mobile-menu {
    display: block;
  }

  .nav-list.active {
    transform: translateX(0);
  }

  header {
    height: 5rem;
  }

  #resume {
    padding: 0 2rem;
  }

  .left-about {
    margin-top: 15vh;
  }

  .little-text {
    font-size: 22px;
  }

  .name {
    font-size: 50px;
  }

  .right-about {
    display: none;
  }

  .contact-icon {
    display: flex;
    flex-wrap: wrap;
  }

  .p-resume {
    font-size: 20px;
  }

  #about {
    margin-top: 5vh;
  } 

  .title-content {
    font-size: 28px;
  }

  .p-about {
    font-size: 20px;
  }

  .sub-title {
    font-size: 20px;
  }

  .p-skills {
    font-size: 15px;
  }

  .projeto-calc {
    margin-left: 5vw;
    width: revert;
  }
  
  .subt-project {
    font-size: 28px;
  }

  .sub-contact {
    font-size: 25px;
  }

  .btn-form {
    justify-content: center;
  }

  footer {
    font-size: 20px;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
}