* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2%;
  align-items: center;
  background-color: #d2c4df;
  
}

.tittle {
  font-family: "Updock", cursive;
  font-size: 35px;
  text-decoration: none;
  font-weight: bold;
  color: #544f59;
}

nav {
  font-family: "Cormorant Garamond", serif;
  font-size: 25px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #544f59;
}

.navbar {
  display: flex;
}

.navbar li {
  margin-left: 5%;
}

body {
  background-color: #f1f0f3;
  width: 100%;
}

#sobre {
  display: flex;
  margin-top: 3%;
}

.left-about {
  margin-left: 12%;
  margin-right: 10%;
  width: 100%;

}

.little-text {
  font-family: "Cormorant Garamond", serif;
  font-size: 27px;
  
}

.name {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 75px;
  
}

p {
  font-family: "Cormorant Garamond", serif;
  font-size: 25px;
  font-weight: bold;
  width: 100%; 
  margin-top: 1%;
}

.right-about {
  margin-left: 20%;
}

img {
  max-width: 70%;
  max-height: 70%;  
  border-radius: 10%;  
}

